<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217945753246-6fr2jt110qds05rca43kv2q0rl8lfm23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217945753246-6fr2jt110qds05rca43kv2q0rl8lfm23</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>217945753246-ttqmhl5ns4b84h8g91flk1d07koh46cr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAn3u2RUmWejHBUlbOJgLq-RYDJ6iY1erw</string>
	<key>GCM_SENDER_ID</key>
	<string>217945753246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecomap.app</string>
	<key>PROJECT_ID</key>
	<string>ecomap-5e73e</string>
	<key>STORAGE_BUCKET</key>
	<string>ecomap-5e73e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217945753246:ios:f384cefd1fe6e1ed9fdd8f</string>
</dict>
</plist>